# Você deve criar um arquivo .env (para desenvolvimento) e um arquivo .env.production (para produção).
# Utilize esse arquivo como base.

# Ativa ou desativa o modo de demonstração.
# O modo de demonstração permite a exeução do front-end sem um back-end configurado.
VUE_APP_DEMO_MODE = false

# Base do endpoint da API
VUE_APP_API_BASE_ENDPOINT = https://blooming-springs-31144.herokuapp.com/Api/
